@* 產業 *@
<div class="info-title">
    <h3>產業分析</h3>
</div>

<section id="industry" class="info-block">
    <section class="info-section">
        <h3>景點資訊</h3>
        <content>
            <table class="tbl-poi-info">
                <tr>
                    <td>名稱</td>
                    <td>{{sum.name}}</td>
                </tr>
                <tr>
                    <td>景點類別</td>
                    <td>{{sum.class}}</td>
                </tr>
                <tr>
                    <td>地址</td>
                    <td>{{sum.description}}</td>
                </tr>
                <tr>
                    <td>電話</td>
                    <td>{{sum.tel}}</td>
                </tr>
                <tr>
                    <td>網站</td>
                    <td v-bind:class="{display-none: showWeb}">{{sum.web}}</td>
                </tr>
                <tr>
                    <td colspan="2"><img v-bind:class="{display-none: showImg}" v-bind:src="sum.img"/></td>
                </tr>
            </table>
        </content>
    </section>

    @*<section class="info-section">
        <h3>產業資訊</h3>
        <content>
            <table class="tbl-industry-info">
                <tr>
                    <td>國民旅遊卡店家</td>
                    <td></td>
                </tr>
                <tr>
                    <td>可輔導店家</td>
                    <td></td>
                </tr>
            </table>
        </content>
    </section>*@
</section>
