@* 產業 *@
<div class="info-title">
    <h3>產業分析</h3>
</div>

<section id="industry" class="info-block">
    <section class="info-section">
        <h3>景點資訊</h3>
        <content>
            <table class="tbl-poi-info">
                <tr>
                    <td>名稱</td>
                    <td>{{sum.name}}</td>
                </tr>
                <tr>
                    <td>景點類別</td>
                    <td>{{sum.class}}</td>
                </tr>
                <tr>
                    <td>地址</td>
                    <td>{{sum.description}}</td>
                </tr>
                <tr>
                    <td>電話</td>
                    <td>{{sum.tel}}</td>
                </tr>
                <tr>
                    <td>網站</td>
                    <td><a id="web-link">{{sum.name}}</a></td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img id="img-link" />
                    </td>
                </tr>
            </table>
        </content>
    </section>
</section>
