@* 產業 *@
<div class="info-title">
    <h3>產業分析</h3>
</div>

<section id="industry" class="info-block">
    <section class="info-section">
        <h3>景點資訊</h3>
        <content>
            <table class="tbl-poi-info">

            </table>
        </content>
    </section>

    <section class="info-section">
        <h3>產業資訊</h3>
        <content>
            <table class="tbl-industry-info">

            </table>
        </content>
    </section>
</section>
