<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://js.arcgis.com/3.18/esri/css/esri.css" rel='stylesheet' type='text/css' media='screen'>
    <link href="~/Content/FontAwesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/lib/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/lib/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/lib/jquery-ui.min.js"></script>
    <script src="~/Scripts/lib/VueJS/vue.js"></script>
        @*<script src="~/Scripts/lib/AjaxAgent.js"></script>
                <script src="~/Scripts/lib/Framework.js"></script>*@
    <title>嘉義雷霆少年</title>

    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body class="panel-empty">
    <nav>
        <header>
            <img class="img-logo" src="~/Content/img/chiayi3.svg" />
            <h3>雷霆少年</h3>
            <h1>觀光政策支援系統</h1>
            <button id="btn-menu"><i class="fa fa-bars" aria-hidden="true"></i></button>
            <button id="btn-close-menu"><i class="fa fa-times" aria-hidden="true"></i></button>
        </header>
        <ul class="menu">
            <li class="nav-item" name="lodging"><i class="fa fa-bed" aria-hidden="true" title="住宿分析"></i><span>住宿分析</span></li>
            <li class="nav-item" name="transport"><i class="fa fa-bus" aria-hidden="true" title="交通分析"></i><span>交通分析</span></li>
            <li class="nav-item" name="industry"><i class="fa fa-money" aria-hidden="true" title="產業分析"></i><span>產業分析</span></li>
            <li class="nav-item" name="summary"><i class="fa fa-bar-chart" aria-hidden="true" title="綜合分析"></i><span>綜合分析</span></li>
        </ul>
    </nav>
    @RenderBody()
    <div class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
    </div>
    <div class="loading-mask"></div>
    <div id="Fun_Legend" style="position:fixed;right: 50px;bottom: 50px;z-index: 100;display:none">
        <img src="~/Content/img/Legend/Legend.png" style="height:320px;width:280px;" />
    </div>
    <div class="intro-wrapper">
        <div id="btn-about" class="side-button">關於我</div>
        <div id="btn-system" class="side-button">系統操作</div>
        <div id="about" class="display-none" title="關於我">
            <p>
我們是一群關注在用空間資訊解決經濟民生問題的一群雷霆守護者，這次我們結合台灣觀光局的2017年的觀光政策，「Tourism 2020-臺灣永續觀光發展策略」。2017 年施政重點，「開拓多元市場」，「推廣國民旅遊」、「輔導產業轉型」與「智慧觀光」，期望透過「住宿分析」、「交通分析」、「產業分析」、「綜合分析」來輔助這些施政重點。</p>
        </div>
        <div id="system" class="display-none" title="系統操作">
            <p>
                <h5>開拓多元市場</h5>
                (住宿分析、產業分析、綜合分析)<br />
                網際網路與交通資訊透明，間接造成國內的觀光產業蓬勃發展，但在國外的旅客在各個縣市鄉鎮，則有不同的趨勢與情況
                透過了解這些趨勢，可以更清楚了解各地區的優勢，並可以透配合當地的產業發展，衍伸出更符合旅客背景的觀光產品。
            </p>
            <p>
                <h5>推廣國民旅遊</h5>
                (交通分析、綜合分析)<br />
                推動「國民旅遊卡新制」，直接幫助旅行業者可以包裝國內深度特色及高品質旅遊行程，
                也同時輔導地方政府營造特色觀光亮點，帶動觀光及相關產業發展。
                但在營造特色觀光亮點之前，更應該要針對既有的景點，進行交通分析，觀光並非只是宣傳，
                更重要的是加強現有交通樞紐與擴充潛在的觀光景點，有利於政府在未來觀光政策，做模擬的展示
            </p>
            <p>
                <h5>輔導產業轉型</h5>
                (產業分析、綜合分析)<br />
                根據國內經濟產業發展的分析，要發展當地地區特色之前，必須要了解當地產業的特色，
                商店與工廠便是很重要的潛力景點，近年來各地工廠開始開放給一般民眾，實地參觀與DIY，
                透過親子共遊的形式，凝聚在地特色，創造出另類的商機。
                透過景點也可以調整產業結構，輔導陸客團接待業者轉型，以提升接待新興市場能力；
            </p>
            <p>
                <h5>智慧觀光型</h5>
                (產業分析、綜合分析)<br />
                台灣好行與台灣觀巴士是目前觀光局首推的旅遊路線，結合空間資訊的概念，可以大大透過這些地點，
                增加旅客的數量，也可以讓在地的廠商進駐在這些重要的景點
            </p>
        </div>
    </div>
    <div class="ui-widget-overlay"></div>
    <script>
        var baseURL = 'http://localhost/ChyHackathon';
        var dojoConfig = {
            // 需使用絕對路徑
            paths: {
                'jquery': baseURL + '/Scripts/lib/jquery-1.10.2.min',
                'Module': baseURL + '/Scripts/Main/Module',
                'Common': baseURL + '/Scripts/Main/Func/Common/Common',
                'Chart': baseURL + '/Scripts/Main/Func/Common/Chart',
                'proj4': baseURL + '/Scripts/lib/proj4/dist/proj4',
                'Map': baseURL + '/Scripts/Main/MapControl',
                'UI': baseURL + '/Scripts/Main/Func/UI',
                'Sev': baseURL + '/Scripts/Main/Func/Sev',
                'Data': baseURL + '/Scripts/Main/Func/Data',
                'DataTable': baseURL + '/Scripts/lib/jquery.dataTables.min',
                'SGSJS': baseURL + '/Scripts/lib/SGSArcGISServer3826',
                'AjaxAgent': baseURL + '/Scripts/lib/AjaxAgent',
                'Framework': baseURL + '/Scripts/lib/Framework',
                'HighCharts': baseURL + '/Scripts/lib/HighCharts',
                'Lib': baseURL + '/Scripts/lib',
                //
                'Views': baseURL + '/Views/Shared',
                //******Loader********
                'UILoader': baseURL + '/Scripts/Main/MapControl/Loader/UILoader',
            },
            async: true
        };
    </script>
    <script src="https://js.arcgis.com/3.18/"></script>
    <script src="http://localhost/ChyHackathon/Scripts/Main/Module/ModuleInitial.js"></script>
</body>
</html>