@* 住宿 *@

<div class="info-title">
    <h3>住宿分析</h3>
</div>

<section id="lodging" class="info-block">
    <section class="info-section">
        <content>
            @*<select class="sel-district">
                <option>嘉義市 - 西區</option>
            </select>*@
            <select  class="sel-lodging-type">
                <option value="hotel">旅館</option>
                <option value="bab">民宿</option>
            </select>
        </content>
    </section>

    <section class="info-section">
        <h3>基本統計</h3>
        <content>
            <table class="tbl-lodging-stats">
                <tr>
                    <td><img src="~/Content/img/Lodging/hotel.svg" /></td>
                    <td><img src="~/Content/img/Lodging/room.svg" /></td>
                    <td><img src="~/Content/img/Lodging/price.svg" /></td>
                </tr>
                <tr class="tr-number">
                    <td name="LodgingCount"></td>
                    <td name="RoomCount"></td>
                    <td name="AvgPrice"></td>
                </tr>
                <tr class="tr-unit">
                    <td>家數</td>
                    <td>房間數</td>
                    <td>平均房價(元)</td>
                </tr>
            </table>
        </content>
    </section>

    <section class="info-section">
        <h3>住宿供需趨勢</h3>
        <content>
            <div id="room-chart" class="chart-container"></div>
        </content>
    </section>

    <section class="info-section">
        <h3>房客國籍比</h3>
        <content>
            <div id="nation-chart" class="chart-container"></div>
        </content>
    </section>

</section>
