@* 住宿 *@
<section id="lodging" class="info-block">
    <div>
        <header>
            <h5>嘉義市西區</h5>
        </header>
        <section class="info-section">
            <select><option>這裡裝點什麼</option></select>
        </section>
    </div>
</section>