@* 住宿 *@
<section id="lodging" class="info-block">
    <header>
        <h5>嘉義市西區</h5>
    </header>
    <section class="info-section">
        <select><option>這裡裝點什麼</option></select>
        <section class="circle-wrapper">
            <div class="circle"><span>23.5萬</span></div>
            <div class="circle"><span>235</span></div>
            <div class="circle"><span>2,350</span></div>
            <span>家數</span>
            <span>房間數</span>
            <span>平均房價</span>
        </section>
    </section>
</section>