@* 綜合 *@
<div class="info-title">
    <h3>綜合分析</h3>
</div>

<section id="summary" class="info-block">
    <section class="info-section">
        <content>
            <div class="sum-loc">
                <span>查詢位置：</span><span class="selected-vlg">{{sum.COUN_NA}}{{sum.TOWN_NA}}{{sum.VLG_NA}}</span>
            </div>
        </content>
    </section>

    <section class="info-section">
        <h3>景點</h3>
        <content>
            <section class="sum-item">
                <i class="fa fa-globe"></i>
                <strong>文化</strong>
                <span>{{sum.POI_Culture | CheckValue}}處</span>
            </section>
            <section class="sum-item">
                <i class="fa fa-university"></i>
                <strong>古蹟</strong>
                <span>{{sum.POI_Monuments | CheckValue}}處</span>
            </section>
            <section class="sum-item">
                <i class="fa fa-cutlery"></i>
                <strong>美食</strong>
                <span>{{sum.POI_Food | CheckValue}}處</span>
            </section>
            <section class="sum-item">
                <i class="fa fa-map-signs"></i>
                <strong>風景</strong>
                <span>{{sum.POI_landscape | CheckValue}}處</span>
            </section>
        </content>
    </section>
    <section class="info-section">
        <h3>住宿</h3>
        <content>
            <section class="sum-item">
                <i class="fa fa-home"></i>
                <strong>家數</strong>
                <span>家</span>
            </section>
            <section class="sum-item">
                <i class="fa fa-bed"></i>
                <strong>房間數</strong>
                <span>間</span>
            </section>
            <section class="sum-item">
                <i class="fa fa-line-chart"></i>
                <strong>需求/供給</strong>
                <span>%</span>
            </section>
            <section class="sum-item">
                <i class="fa fa-users"></i>
                <strong>外籍旅客比率</strong>
                <span>%</span>
            </section>
        </content>
    </section>
    <section class="info-section">
        <h3>交通</h3>
        <content>
            <section class="sum-item">
                <img src="~/Content/img/Summary/no-bus.svg" />
                <strong>無公車景點</strong>
                <span>{{sum.Transportation_NoBus | CheckValue}}處</span>
            </section>
            <section class="sum-item">
                <img src="~/Content/img/Summary/no-walk.svg" />
                <strong>無人行道景點</strong>
                <span>{{sum.Transportation_NOsidewalk | CheckValue}}處</span>
            </section>
            <section class="sum-item">
                <img src="~/Content/img/Summary/lame-walk.svg" />
                <strong>人行道不合格</strong>
                <span>{{sum.Transportation_NotOKsidewalk | CheckValue}}處</span>
            </section>
        </content>
    </section>
    <section class="info-section">
        <h3>產業</h3>
        <content>
            <section class="sum-item">
                <i class="fa fa-camera-retro"></i>
                <strong>觀光相關產業</strong>
                <span>{{sum.Industry_all | CheckValue}}家</span>
            </section>
            <section class="sum-item">
                <i class="fa fa-id-card"></i>
                <strong>國民旅遊卡</strong>
                <span>{{sum.Industry_card | CheckValue}}家</span>
            </section>
        </content>
    </section>
</section>
