@* 綜合 *@
<div class="info-title">
    <h3>綜合分析</h3>
</div>

<section id="summary" class="info-block">
    <section class="info-section">
        <content>
            <select>
                <option class="sel-town">這裡裝鄉鎮市區</option>
            </select>
        </content>
    </section>

    <section class="info-section">
        <h3>景點</h3>
        <content>
            <section class="sum-item">
                <i class="fa fa-globe"></i>
                <strong>文化</strong>
                <span name="count-culture"></span>
            </section>
            <section class="sum-item">
                <i class="fa fa-university"></i>
                <strong>古蹟</strong>
                <span name="count-monument"></span>
            </section>
            <section class="sum-item">
                <i class="fa fa-cutlery"></i>
                <strong>美食</strong>
                <span name="count-food"></span>
            </section>
            <section class="sum-item">
                <i class="fa fa-map-signs"></i>
                <strong>風景</strong>
                <span name="count-scenery"></span>
            </section>
        </content>
    </section>
    <section class="info-section">
        <h3>住宿</h3>
        <content>
            <section class="sum-item">
                <i class="fa fa-home"></i>
                <strong>家數</strong>
                <span name="count-"></span>
            </section>
            <section class="sum-item">
                <i class="fa fa-bed"></i>
                <strong>房間數</strong>
                <span name="count-"></span>
            </section>
            <section class="sum-item">
                <i class="fa fa-line-charts"></i>
                <strong>需求/供給</strong>
                <span name="count-"></span>
            </section>
            <section class="sum-item">
                <i class="fa fa-users"></i>
                <strong>外籍旅客比率</strong>
                <span name="count-"></span>
            </section>
        </content>
    </section>
    <section class="info-section">
        <h3>交通</h3>
        <content>
            <section class="sum-item">
                <img src="~/Content/img/Summary/no-bus.svg" />
                <strong>無公車景點</strong>
                <span name="count-no-bus"></span>
            </section>
            <section class="sum-item">
                <img src="~/Content/img/Summary/no-walk.svg" />
                <strong>無人行道景點</strong>
                <span name="count-no-walk"></span>
            </section>
            <section class="sum-item">
                <img src="~/Content/img/Summary/lame-walk.svg" />
                <strong>人行道不合格</strong>
                <span name="count-lame-walk"></span>
            </section>
        </content>
    </section>
    <section class="info-section">
        <h3>產業</h3>
        <content>
            <section class="sum-item">
                <i class="fa fa-"></i>
                <strong>觀光相關產業</strong>
                <span name="count-camera-retro"></span>
            </section>
            <section class="sum-item">
                <i class="fa fa-"></i>
                <strong>國民旅遊卡</strong>
                <span name="count-id-card"></span>
            </section>
        </content>
    </section>
</section>
