@* 交通 *@

<div class="info-title">
    <h3>交通分析</h3>
</div>

<section id="transport" class="info-block">
    <section class="info-section">
        <content>
            <button id="btn_DrawPoly" class="btn-blue-inverse">選取範圍</button>
        </content>
    </section>

    <section class="info-section">
        <h3>公車服務</h3>
        <content>
            <table class="tbl-service-count">
                <tr>
                    <td rowspan="2"><img src="~/Content/img/Transport/BusService.svg" /></td>
                    <td><h1 name="hasService">43</h1></td>
                </tr>
                <tr>
                    <td colspan="2">已服務景點數</td>
                </tr>
                <tr>
                    <td rowspan="2"><img src="~/Content/img/Transport/NoBusService.svg" /></td>
                    <td><h1 name="hasServicenoService">123</h1></td>
                </tr>
                <tr>
                    <td colspan="2">未服務景點數</td>
                </tr>
            </table>
        </content>
    </section>

    <section class="info-section">
        <h3>無公車服務景點清單</h3>
        <content>
            <table class="tbl-no-service-poi">
                <thead>
                    <tr>
                        <th>編號</th>
                        <th>名稱</th>
                        <th>地址</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="poi in poiList">
                        <td>{{poi.SN}}</td>
                        <td>{{poi.NAME}}</td>
                        <td>{{poi.ADDR}}</td>
                    </tr>
                </tbody>
            </table>
        </content>
    </section>
</section>