@charset "UTF-8";
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/base/_base.scss */
h1 {
  font-size: 1.75rem;
}

/* line 8, ../sass/base/_base.scss */
.h1 {
  font-size: 1.75rem !important;
}

/* line 5, ../sass/base/_base.scss */
h2 {
  font-size: 1.5rem;
}

/* line 8, ../sass/base/_base.scss */
.h2 {
  font-size: 1.5rem !important;
}

/* line 5, ../sass/base/_base.scss */
h3 {
  font-size: 1.25rem;
}

/* line 8, ../sass/base/_base.scss */
.h3 {
  font-size: 1.25rem !important;
}

/* line 5, ../sass/base/_base.scss */
h4 {
  font-size: 1.1rem;
}

/* line 8, ../sass/base/_base.scss */
.h4 {
  font-size: 1.1rem !important;
}

/* line 14, ../sass/base/_base.scss */
.display-none {
  display: none;
}

/* line 18, ../sass/base/_base.scss */
.tooltip {
  opacity: 1;
  display: block;
}

/* line 2, ../sass/base/_component.scss */
button:focus {
  outline: 0;
}

/* line 6, ../sass/base/_component.scss */
header:focus {
  outline: 0;
}

/* line 10, ../sass/base/_component.scss */
select {
  padding: .313rem .5rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 16, ../sass/base/_component.scss */
button {
  cursor: pointer;
}
/* line 18, ../sass/base/_component.scss */
button.btn-blue {
  background-color: #2497da;
  color: white;
  border-color: #2497da;
}
/* line 24, ../sass/base/_component.scss */
button.btn-blue-inverse {
  background-color: white;
  color: #2497da;
  border-color: #2497da;
}

/* line 32, ../sass/base/_component.scss */
button.btn-blue, button.btn-blue-inverse {
  padding: .5rem 1rem;
  border-width: 1px;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px;
}

/************ 計算長度 *************/
/* line 1, ../sass/layout/_navbar.scss */
nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 3%;
  z-index: 100;
  background-color: #2497da;
}
/* line 10, ../sass/layout/_navbar.scss */
nav:focus {
  outline: 0;
}
/* line 13, ../sass/layout/_navbar.scss */
nav > header {
  display: flex;
  align-items: center;
  height: 60px;
}
/* line 17, ../sass/layout/_navbar.scss */
nav > header .img-logo {
  height: 55px;
  margin-right: .25rem;
}
/* line 21, ../sass/layout/_navbar.scss */
nav > header h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-left: 1rem;
  white-space: nowrap;
}
/* line 27, ../sass/layout/_navbar.scss */
nav > header h3 {
  display: none;
  font-size: 1.25rem;
  line-height: 60px;
  vertical-align: middle;
  margin-right: 1rem;
  padding: 0;
  white-space: nowrap;
}
/* line 36, ../sass/layout/_navbar.scss */
nav > header button {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -moz-border-radius: 3px 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px;
  background-color: #2497da;
  border-width: 1px;
  color: #ddd;
  border-color: #ddd;
  right: 1rem;
  position: absolute;
}
/* line 50, ../sass/layout/_navbar.scss */
nav > header button:hover {
  border-color: white;
  color: white;
}
/* line 54, ../sass/layout/_navbar.scss */
nav > header button i {
  font-size: 20px;
}
/* line 59, ../sass/layout/_navbar.scss */
nav .menu {
  display: flex;
  height: 60px;
  align-items: center;
  position: absolute;
  right: 7%;
}
/* line 65, ../sass/layout/_navbar.scss */
nav .menu li.nav-item {
  color: white;
  cursor: pointer;
  height: 100%;
  vertical-align: middle;
  line-height: 60px;
  position: relative;
  display: flex;
  align-items: center;
}
/* line 74, ../sass/layout/_navbar.scss */
nav .menu li.nav-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border: 1px solid #eee;
  color: #eee;
  -moz-border-radius: 50% 50%;
  -webkit-border-radius: 50%;
  border-radius: 50% 50%;
}
/* line 85, ../sass/layout/_navbar.scss */
nav .menu li.nav-item span {
  color: #eee;
  display: none;
  font-size: 1rem;
  padding: .5rem .5rem;
  white-space: nowrap;
  border: 1px solid transparent;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px;
}
/* line 94, ../sass/layout/_navbar.scss */
nav .menu li.nav-item.active i, nav .menu li.nav-item.active:hover i {
  background-color: white;
  color: #2497da;
  border-color: #2497da;
}
/* line 99, ../sass/layout/_navbar.scss */
nav .menu li.nav-item:hover {
  /*@include linear-gradient(gray, white, .3);*/
}
/* line 100, ../sass/layout/_navbar.scss */
nav .menu li.nav-item:hover i {
  color: white;
  border-color: white;
}
/* line 104, ../sass/layout/_navbar.scss */
nav .menu li.nav-item:hover span {
  color: white;
}
/* line 109, ../sass/layout/_navbar.scss */
nav .menu li.nav-item + .nav-item {
  margin-left: 1rem;
}

@media (max-width: 550px) {
  /* line 118, ../sass/layout/_navbar.scss */
  nav {
    display: block;
    padding: 0;
  }
  /* line 121, ../sass/layout/_navbar.scss */
  nav > header {
    justify-content: center;
  }
  /* line 123, ../sass/layout/_navbar.scss */
  nav > header .img-logo {
    height: 60px;
    margin-left: -1rem;
  }
  /* line 127, ../sass/layout/_navbar.scss */
  nav > header h1 {
    font-size: 1.5rem;
    margin-left: 0;
  }
  /* line 131, ../sass/layout/_navbar.scss */
  nav > header h3 {
    display: none;
  }
  /* line 134, ../sass/layout/_navbar.scss */
  nav > header #btn-menu {
    display: flex;
  }
  /* line 136, ../sass/layout/_navbar.scss */
  .menu-show nav > header #btn-menu {
    display: none;
  }
  /* line 140, ../sass/layout/_navbar.scss */
  nav > header #btn-close-menu {
    display: none;
  }
  /* line 142, ../sass/layout/_navbar.scss */
  .menu-show nav > header #btn-close-menu {
    display: flex;
  }
  /* line 147, ../sass/layout/_navbar.scss */
  nav .menu {
    opacity: 0;
    z-index: 700;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding-top: 10%;
    -moz-transition: visibility 0s, opacity 0.3s ease-in-out;
    -o-transition: visibility 0s, opacity 0.3s ease-in-out;
    -webkit-transition: visibility 0s, opacity 0.3s ease-in-out;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    visibility: hidden;
    display: block;
    margin-left: 0;
  }
  /* line 160, ../sass/layout/_navbar.scss */
  .menu-show nav .menu {
    opacity: 1;
    visibility: visible;
  }
  /* line 164, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item {
    width: 100%;
    height: 15%;
    text-align: center;
    z-index: 100;
    position: static;
    display: block;
  }
  /* line 171, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item i {
    display: inline-flex;
  }
  /* line 175, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item:active span {
    text-decoration: underline;
  }
  /* line 180, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item.active i, nav .menu li.nav-item.active:hover i {
    background-color: transparent;
    color: white;
    border-color: white;
  }
  /* line 186, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item > span {
    font-size: 1.25rem;
    letter-spacing: 3px;
    display: initial;
  }
  /* line 191, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item + .nav-item {
    margin-left: 0;
  }
  /* line 194, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item:first-child:after {
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
@media (min-width: 550px) and (max-width: 750px) {
  /* line 211, ../sass/layout/_navbar.scss */
  nav > header {
    justify-content: center;
  }
  /* line 213, ../sass/layout/_navbar.scss */
  nav > header .img-logo {
    height: 60px;
  }
  /* line 216, ../sass/layout/_navbar.scss */
  nav > header h1 {
    font-size: 1.6rem;
    margin-left: 0;
  }
  /* line 220, ../sass/layout/_navbar.scss */
  nav > header h3 {
    display: none;
  }
}
@media (max-width: 435px) {
  /* line 229, ../sass/layout/_navbar.scss */
  nav .img-logo {
    display: none;
  }
}
/* line 2, ../sass/layout/_aside.scss */
aside#info-panel, #map {
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

/* line 7, ../sass/layout/_aside.scss */
aside#info-panel {
  position: absolute;
  z-index: 5;
  width: 400px;
  left: -400px;
  height: calc(100% - 60px);
  background-color: white;
  transition-property: transform;
}
/* line 16, ../sass/layout/_aside.scss */
aside#info-panel .func-panel {
  height: 100%;
}
/* line 19, ../sass/layout/_aside.scss */
aside#info-panel .info-title {
  height: 45px;
  padding: 0 1rem;
  background-color: #F4845F;
  color: white;
  display: flex;
  align-items: center;
}
/* line 27, ../sass/layout/_aside.scss */
aside#info-panel .info-block {
  overflow-y: auto;
  overflow-x: hidden;
  height: -webkit-calc(100% - 45px);
  height: -moz-calc(100% - 45px);
  height: calc(100% - 45px);
}
/* line 32, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section > h3 {
  width: 100%;
  text-align: center;
  padding: .818rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 39, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section content {
  padding: 1rem 1.5rem;
}
/* line 41, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section content select {
  display: block;
  margin: auto;
}
/* line 44, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section content select + select {
  margin-top: .5rem;
}
/* line 49, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section .chart-container {
  width: 100%;
  height: 250px;
  margin: auto;
}
/* line 53, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section .chart-container#nation-chart {
  height: 320px;
}
/* line 57, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section + .info-section {
  margin-top: 1rem;
}
/* line 60, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section:first-child {
  padding-top: 1rem;
}
/* line 66, ../sass/layout/_aside.scss */
.panel-show aside#info-panel {
  transform: translateX(100%);
}
/* line 69, ../sass/layout/_aside.scss */
aside#info-panel .no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}
/* line 77, ../sass/layout/_aside.scss */
aside#info-panel .no-data:before {
  content: '\f071';
  margin-right: .5rem;
  font-family: FontAwesome;
  color: #888;
}
/* line 84, ../sass/layout/_aside.scss */
aside#info-panel #btn-slide {
  width: 25px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F4845F;
  color: white;
  border: 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 0;
  right: -25px;
  -moz-transition: right 0.65s linear;
  -o-transition: right 0.65s linear;
  -webkit-transition: right 0.65s linear;
  transition: right 0.65s linear;
}
/* line 101, ../sass/layout/_aside.scss */
aside#info-panel #btn-slide:hover {
  background-color: #EF6461;
}
/* line 104, ../sass/layout/_aside.scss */
.panel-empty aside#info-panel #btn-slide {
  display: none !important;
}
/* line 107, ../sass/layout/_aside.scss */
aside#info-panel #btn-slide:before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: 45px;
  left: 0;
  border-width: 15px 22px 0 0;
  border-style: solid;
  border-color: #C1514F transparent transparent transparent;
}
/* line 118, ../sass/layout/_aside.scss */
aside#info-panel #btn-slide:after {
  font-size: 1.25rem;
  font-family: FontAwesome;
  content: '\f0da';
}
/* line 122, ../sass/layout/_aside.scss */
.panel-show aside#info-panel #btn-slide:after {
  content: '\f0d9';
}

@media (max-width: 550px) {
  /* line 130, ../sass/layout/_aside.scss */
  #info-panel {
    width: -webkit-calc(100% - 50px) !important;
    width: -moz-calc(100% - 50px) !important;
    width: calc(100% - 50px) !important;
    left: -webkit-calc(-100% + 50px) !important;
    left: -moz-calc(-100% + 50px) !important;
    left: calc(-100% + 50px) !important;
  }
}
/*@media (max-width: $screen-xs){
    #info-panel{
        
    }
}*/
/* line 1, ../sass/layout/_map.scss */
#map {
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  background: beige;
}
/* line 8, ../sass/layout/_map.scss */
#map .slider {
  position: fixed;
  right: 1.5rem;
  top: 5rem;
  z-index: 500;
}
/* line 13, ../sass/layout/_map.scss */
#map .slider > button {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.5rem;
  border-radius: .313rem;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  display: block;
}
/* line 23, ../sass/layout/_map.scss */
#map .slider > button + button {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 29, ../sass/layout/_map.scss */
#map .slider > button > i {
  color: black;
  font-size: 1rem;
}
/* line 35, ../sass/layout/_map.scss */
.panel-show #map {
  transition-property: width;
  width: -webkit-calc(100% - 400px);
  width: -moz-calc(100% - 400px);
  width: calc(100% - 400px);
}

@media (max-width: 550px) {
  /* line 43, ../sass/layout/_map.scss */
  .panel-show #map {
    transition-property: width;
    width: 50px;
  }
  /* line 46, ../sass/layout/_map.scss */
  .panel-show #map .slider {
    right: -2rem;
  }
  /* line 50, ../sass/layout/_map.scss */
  #map .slider {
    -moz-transition: right 0.15s ease-in-out 0.3s;
    -o-transition: right 0.15s ease-in-out 0.3s;
    -webkit-transition: right 0.15s ease-in-out;
    -webkit-transition-delay: 0.3s;
    transition: right 0.15s ease-in-out 0.3s;
    top: 5rem;
    right: 1rem;
  }
}
/* line 4, ../sass/layout/_spinner.scss */
.sk-fading-circle {
  z-index: 999;
  display: none;
  position: absolute;
  left: -webkit-calc(50% - 30px);
  left: -moz-calc(50% - 30px);
  left: calc(50% - 30px);
  top: -webkit-calc(50% - 30px);
  top: -moz-calc(50% - 30px);
  top: calc(50% - 30px);
  width: 65px;
  height: 65px;
}
/* line 12, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 18, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -moz-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}
/* line 29, ../sass/layout/_spinner.scss */
.show-loading .sk-fading-circle {
  display: flex;
}

/* line 33, ../sass/layout/_spinner.scss */
.loading-mask {
  z-index: 999;
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
/* line 42, ../sass/layout/_spinner.scss */
.show-loading .loading-mask {
  display: flex;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle2 {
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle2:before {
  -moz-animation-delay: -1.1s;
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle3 {
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle3:before {
  -moz-animation-delay: -1s;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle4 {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle4:before {
  -moz-animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle5 {
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle5:before {
  -moz-animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle6 {
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle6:before {
  -moz-animation-delay: -0.7s;
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle7 {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle7:before {
  -moz-animation-delay: -0.6s;
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle8 {
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle8:before {
  -moz-animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle9 {
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle9:before {
  -moz-animation-delay: -0.4s;
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle10 {
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle10:before {
  -moz-animation-delay: -0.3s;
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle11 {
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle11:before {
  -moz-animation-delay: -0.2s;
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

/* line 48, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle12 {
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}
/* line 50, ../sass/layout/_spinner.scss */
.sk-fading-circle .sk-circle12:before {
  -moz-animation-delay: -0.1s;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-moz-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
/* line 4, ../sass/page/_lodging.scss */
#lodging .info-section:first-child content {
  display: flex;
  align-items: center;
}
/* line 8, ../sass/page/_lodging.scss */
#lodging .info-section:first-child content > select {
  width: 60%;
  margin-left: 1rem;
}
/* line 15, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats {
  margin: auto;
  width: 90%;
}
/* line 18, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats .tr-number {
  font-size: 1.25rem;
}
/* line 20, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats .tr-number td {
  font-weight: bold;
}
/* line 24, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats .tr-unit {
  font-size: .8rem;
}
/* line 26, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats .tr-unit td {
  padding: .5rem 0;
}
/* line 30, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats img {
  width: 80%;
}
/* line 33, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats td {
  text-align: center;
}

/* line 2, ../sass/page/_industry.scss */
#industry .tbl-poi-info, #industry .tbl-industry-info {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}
/* line 7, ../sass/page/_industry.scss */
#industry .tbl-poi-info tr td, #industry .tbl-industry-info tr td {
  border-bottom: 1px solid #ccc;
  padding: .5rem;
}
/* line 11, ../sass/page/_industry.scss */
#industry .tbl-poi-info tr td:first-child, #industry .tbl-industry-info tr td:first-child {
  font-weight: bold;
  width: 4rem;
}

/* line 2, ../sass/page/_transport.scss */
#transport .tbl-service-count {
  width: 70%;
  margin: auto;
}
/* line 5, ../sass/page/_transport.scss */
#transport .tbl-service-count h1 {
  font-size: 3.75rem;
  font-weight: bold;
}
/* line 9, ../sass/page/_transport.scss */
#transport .tbl-service-count img {
  width: 80px;
}
/* line 13, ../sass/page/_transport.scss */
#transport .tbl-service-count tr td {
  text-align: left;
}
/* line 17, ../sass/page/_transport.scss */
#transport .tbl-service-count tr:nth-child(4n+3) td {
  padding-top: 2rem;
}
/* line 22, ../sass/page/_transport.scss */
#transport .tbl-service-count tr:nth-child(even) td {
  padding-top: .5rem;
}
/* line 27, ../sass/page/_transport.scss */
#transport .tbl-service-count tr:nth-child(odd) td:nth-child(1) {
  width: 80px;
  text-align: center;
  padding-right: 1rem;
}
/* line 35, ../sass/page/_transport.scss */
#transport .tbl-no-service-poi {
  margin: auto;
  width: 90%;
}
/* line 38, ../sass/page/_transport.scss */
#transport .tbl-no-service-poi thead th {
  text-align: center;
  color: white;
  background-color: #F79494;
}
/* line 43, ../sass/page/_transport.scss */
#transport .tbl-no-service-poi th, #transport .tbl-no-service-poi td {
  border-bottom: 1px solid #ccc;
  padding: .5rem;
}
/* line 47, ../sass/page/_transport.scss */
#transport .tbl-no-service-poi tr th:first-child {
  white-space: nowrap;
  text-align: center;
}
/* line 51, ../sass/page/_transport.scss */
#transport .tbl-no-service-poi tbody tr td:nth-child(2) {
  width: 6.5rem;
}
/* line 55, ../sass/page/_transport.scss */
#transport .dataTables_paginate {
  text-align: center;
  margin-top: .313rem;
}
/* line 58, ../sass/page/_transport.scss */
#transport .dataTables_paginate a {
  cursor: pointer;
}
/* line 60, ../sass/page/_transport.scss */
#transport .dataTables_paginate a + a {
  margin-left: .25rem;
}

/* line 3, ../sass/page/_summary.scss */
#summary .info-section content {
  display: flex;
  flex-wrap: wrap;
}
/* line 7, ../sass/page/_summary.scss */
#summary .info-section content .sum-loc span {
  font-size: 1.2rem;
}
/* line 10, ../sass/page/_summary.scss */
#summary .info-section content .sum-loc .selected-vlg {
  font-weight: bold;
}
/* line 14, ../sass/page/_summary.scss */
#summary .info-section content .sum-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: -webkit-calc(45% - 1rem);
  width: -moz-calc(45% - 1rem);
  width: calc(45% - 1rem);
  color: white;
  margin: 1rem;
  padding: 1rem 0;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px;
}
/* line 24, ../sass/page/_summary.scss */
#summary .info-section content .sum-item img {
  width: 3rem;
  margin: auto;
}
/* line 28, ../sass/page/_summary.scss */
#summary .info-section content .sum-item i {
  color: white;
  font-size: 3rem;
}
/* line 32, ../sass/page/_summary.scss */
#summary .info-section content .sum-item strong {
  padding-top: .25rem;
  font-size: .85rem;
}
/* line 36, ../sass/page/_summary.scss */
#summary .info-section content .sum-item span {
  padding-top: .25rem;
  font-size: 1.5rem;
}
/* line 40, ../sass/page/_summary.scss */
#summary .info-section content .sum-item.inactive {
  background-color: #bebebe;
}
/* line 47, ../sass/page/_summary.scss */
#summary .info-section:nth-of-type(2) .sum-item {
  background-color: #72cdff;
}
/* line 52, ../sass/page/_summary.scss */
#summary .info-section:nth-of-type(3) .sum-item {
  background-color: #ffbb00;
}
/* line 58, ../sass/page/_summary.scss */
#summary .info-section:nth-of-type(4) .sum-item {
  background-color: #b180b8;
}
/* line 63, ../sass/page/_summary.scss */
#summary .info-section:nth-of-type(5) .sum-item {
  background-color: #8dc778;
}

/* line 17, ../sass/Site.scss */
body {
  font-family: 'Microsoft JhengHei';
  overflow: hidden;
}
