@charset "UTF-8";
/* line 5, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/base/_base.scss */
h1 {
  font-size: 1.75rem;
}

/* line 8, ../sass/base/_base.scss */
.h1 {
  font-size: 1.75rem !important;
}

/* line 5, ../sass/base/_base.scss */
h2 {
  font-size: 1.5rem;
}

/* line 8, ../sass/base/_base.scss */
.h2 {
  font-size: 1.5rem !important;
}

/* line 5, ../sass/base/_base.scss */
h3 {
  font-size: 1.25rem;
}

/* line 8, ../sass/base/_base.scss */
.h3 {
  font-size: 1.25rem !important;
}

/* line 5, ../sass/base/_base.scss */
h4 {
  font-size: 1.1rem;
}

/* line 8, ../sass/base/_base.scss */
.h4 {
  font-size: 1.1rem !important;
}

/* line 14, ../sass/base/_base.scss */
.display-none {
  display: none;
}

/* line 2, ../sass/base/_component.scss */
button:focus {
  outline: 0;
}

/* line 6, ../sass/base/_component.scss */
header:focus {
  outline: 0;
}

/* line 10, ../sass/base/_component.scss */
select {
  padding: .313rem .5rem;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/************ 計算長度 *************/
/* line 1, ../sass/layout/_navbar.scss */
nav {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  padding-left: 3%;
  z-index: 100;
  background-color: #2497da;
}
/* line 10, ../sass/layout/_navbar.scss */
nav:focus {
  outline: 0;
}
/* line 13, ../sass/layout/_navbar.scss */
nav > header {
  display: flex;
  align-items: center;
  height: 60px;
}
/* line 17, ../sass/layout/_navbar.scss */
nav > header .img-logo {
  height: 55px;
  margin-right: .25rem;
}
/* line 21, ../sass/layout/_navbar.scss */
nav > header h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-left: 1rem;
  white-space: nowrap;
}
/* line 27, ../sass/layout/_navbar.scss */
nav > header h3 {
  display: none;
  font-size: 1.25rem;
  line-height: 60px;
  vertical-align: middle;
  margin-right: 1rem;
  padding: 0;
  white-space: nowrap;
}
/* line 36, ../sass/layout/_navbar.scss */
nav > header button {
  display: none;
  width: 30px;
  height: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -moz-border-radius: 3px 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px 3px;
  background-color: #2497da;
  border-width: 1px;
  color: #ddd;
  border-color: #ddd;
  right: 1rem;
  position: absolute;
}
/* line 50, ../sass/layout/_navbar.scss */
nav > header button:hover {
  border-color: white;
  color: white;
}
/* line 54, ../sass/layout/_navbar.scss */
nav > header button i {
  font-size: 20px;
}
/* line 59, ../sass/layout/_navbar.scss */
nav .menu {
  display: flex;
  height: 60px;
  align-items: center;
  position: absolute;
  right: 7%;
}
/* line 65, ../sass/layout/_navbar.scss */
nav .menu li.nav-item {
  color: white;
  cursor: pointer;
  height: 100%;
  vertical-align: middle;
  line-height: 60px;
  position: relative;
  display: flex;
  align-items: center;
}
/* line 74, ../sass/layout/_navbar.scss */
nav .menu li.nav-item i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border: 1px solid #eee;
  color: #eee;
  -moz-border-radius: 50% 50%;
  -webkit-border-radius: 50%;
  border-radius: 50% 50%;
}
/* line 85, ../sass/layout/_navbar.scss */
nav .menu li.nav-item span {
  color: #eee;
  display: none;
  font-size: 1rem;
  padding: .5rem .5rem;
  white-space: nowrap;
  border: 1px solid transparent;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px;
}
/* line 94, ../sass/layout/_navbar.scss */
nav .menu li.nav-item.active i, nav .menu li.nav-item.active:hover i {
  background-color: white;
  color: #2497da;
  border-color: #2497da;
}
/* line 99, ../sass/layout/_navbar.scss */
nav .menu li.nav-item:hover {
  /*@include linear-gradient(gray, white, .3);*/
}
/* line 100, ../sass/layout/_navbar.scss */
nav .menu li.nav-item:hover i {
  color: white;
  border-color: white;
}
/* line 104, ../sass/layout/_navbar.scss */
nav .menu li.nav-item:hover span {
  color: white;
}
/* line 109, ../sass/layout/_navbar.scss */
nav .menu li.nav-item + .nav-item {
  margin-left: 1rem;
}

@media (max-width: 550px) {
  /* line 118, ../sass/layout/_navbar.scss */
  nav {
    display: block;
    padding: 0;
  }
  /* line 121, ../sass/layout/_navbar.scss */
  nav > header {
    justify-content: center;
  }
  /* line 123, ../sass/layout/_navbar.scss */
  nav > header .img-logo {
    height: 60px;
    margin-left: -1rem;
  }
  /* line 127, ../sass/layout/_navbar.scss */
  nav > header h1 {
    font-size: 1.5rem;
    margin-left: 0;
  }
  /* line 131, ../sass/layout/_navbar.scss */
  nav > header h3 {
    display: none;
  }
  /* line 134, ../sass/layout/_navbar.scss */
  nav > header #btn-menu {
    display: flex;
  }
  /* line 136, ../sass/layout/_navbar.scss */
  .menu-show nav > header #btn-menu {
    display: none;
  }
  /* line 140, ../sass/layout/_navbar.scss */
  nav > header #btn-close-menu {
    display: none;
  }
  /* line 142, ../sass/layout/_navbar.scss */
  .menu-show nav > header #btn-close-menu {
    display: flex;
  }
  /* line 147, ../sass/layout/_navbar.scss */
  nav .menu {
    opacity: 0;
    z-index: 700;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    padding-top: 10%;
    -moz-transition: visibility 0s, opacity 0.3s ease-in-out;
    -o-transition: visibility 0s, opacity 0.3s ease-in-out;
    -webkit-transition: visibility 0s, opacity 0.3s ease-in-out;
    transition: visibility 0s, opacity 0.3s ease-in-out;
    visibility: hidden;
    display: block;
    margin-left: 0;
  }
  /* line 160, ../sass/layout/_navbar.scss */
  .menu-show nav .menu {
    opacity: 1;
    visibility: visible;
  }
  /* line 164, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item {
    width: 100%;
    height: 15%;
    text-align: center;
    z-index: 100;
    position: static;
    display: block;
  }
  /* line 171, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item i {
    display: inline-flex;
  }
  /* line 175, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item:active span {
    text-decoration: underline;
  }
  /* line 180, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item.active i, nav .menu li.nav-item.active:hover i {
    background-color: transparent;
    color: white;
    border-color: white;
  }
  /* line 186, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item > span {
    font-size: 1.25rem;
    letter-spacing: 3px;
    display: initial;
  }
  /* line 191, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item + .nav-item {
    margin-left: 0;
  }
  /* line 194, ../sass/layout/_navbar.scss */
  nav .menu li.nav-item:first-child:after {
    content: " ";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
@media (min-width: 550px) and (max-width: 750px) {
  /* line 211, ../sass/layout/_navbar.scss */
  nav > header {
    justify-content: center;
  }
  /* line 213, ../sass/layout/_navbar.scss */
  nav > header .img-logo {
    height: 60px;
  }
  /* line 216, ../sass/layout/_navbar.scss */
  nav > header h1 {
    font-size: 1.6rem;
    margin-left: 0;
  }
  /* line 220, ../sass/layout/_navbar.scss */
  nav > header h3 {
    display: none;
  }
}
@media (max-width: 435px) {
  /* line 229, ../sass/layout/_navbar.scss */
  nav .img-logo {
    display: none;
  }
}
/* line 2, ../sass/layout/_aside.scss */
aside#info-panel, #map {
  transition-duration: .5s;
  transition-timing-function: ease-in-out;
}

/* line 7, ../sass/layout/_aside.scss */
aside#info-panel {
  position: absolute;
  z-index: 5;
  width: 400px;
  left: -400px;
  height: calc(100% - 60px);
  background-color: white;
  transition-property: transform;
}
/* line 16, ../sass/layout/_aside.scss */
aside#info-panel .func-panel {
  height: 100%;
}
/* line 19, ../sass/layout/_aside.scss */
aside#info-panel .info-title {
  width: 100%;
  height: 45px;
  padding: 0 1rem;
  background-color: #F4845F;
  color: white;
  display: flex;
  align-items: center;
}
/* line 28, ../sass/layout/_aside.scss */
aside#info-panel .info-block {
  overflow-y: auto;
  overflow-x: hidden;
  height: -webkit-calc(100% - 45px);
  height: -moz-calc(100% - 45px);
  height: calc(100% - 45px);
}
/* line 33, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section > h3 {
  width: 100%;
  text-align: center;
  padding: .818rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/* line 40, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section content {
  padding: 1rem 1.5rem;
}
/* line 42, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section content select {
  display: block;
  margin: auto;
}
/* line 45, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section content select + select {
  margin-top: .5rem;
}
/* line 50, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section .chart-container {
  width: 100%;
  height: 250px;
  margin: auto;
}
/* line 54, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section .chart-container#nation-chart {
  height: 375px;
}
/* line 58, ../sass/layout/_aside.scss */
aside#info-panel .info-block .info-section + .info-section {
  margin-top: 1rem;
}
/* line 64, ../sass/layout/_aside.scss */
.panel-show aside#info-panel {
  transform: translateX(100%);
}
/* line 67, ../sass/layout/_aside.scss */
aside#info-panel .no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 1.5rem;
  width: 100%;
  height: 100%;
}
/* line 75, ../sass/layout/_aside.scss */
aside#info-panel .no-data:before {
  content: '\f071';
  margin-right: .5rem;
  font-family: FontAwesome;
  color: #888;
}
/* line 82, ../sass/layout/_aside.scss */
aside#info-panel #btn-slide {
  width: 25px;
  height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F4845F;
  color: white;
  border: 0;
  -moz-border-radius: 0 3px 3px 0;
  -webkit-border-radius: 0;
  border-radius: 0 3px 3px 0;
  position: absolute;
  top: 0;
  right: -25px;
  -moz-transition: right 0.65s linear;
  -o-transition: right 0.65s linear;
  -webkit-transition: right 0.65s linear;
  transition: right 0.65s linear;
}
/* line 99, ../sass/layout/_aside.scss */
aside#info-panel #btn-slide:hover {
  background-color: #EF6461;
}
/* line 102, ../sass/layout/_aside.scss */
.panel-empty aside#info-panel #btn-slide {
  display: none !important;
}
/* line 105, ../sass/layout/_aside.scss */
aside#info-panel #btn-slide:before {
  content: " ";
  width: 0;
  height: 0;
  position: absolute;
  top: 45px;
  left: 0;
  border-width: 15px 22px 0 0;
  border-style: solid;
  border-color: #C1514F transparent transparent transparent;
}
/* line 116, ../sass/layout/_aside.scss */
aside#info-panel #btn-slide:after {
  font-size: 1.25rem;
  font-family: FontAwesome;
  content: '\f0da';
}
/* line 120, ../sass/layout/_aside.scss */
.panel-show aside#info-panel #btn-slide:after {
  content: '\f0d9';
}

@media (max-width: 550px) {
  /* line 128, ../sass/layout/_aside.scss */
  #info-panel {
    width: -webkit-calc(100% - 50px) !important;
    width: -moz-calc(100% - 50px) !important;
    width: calc(100% - 50px) !important;
    left: -webkit-calc(-100% + 50px) !important;
    left: -moz-calc(-100% + 50px) !important;
    left: calc(-100% + 50px) !important;
  }
}
/*@media (max-width: $screen-xs){
    #info-panel{
        
    }
}*/
/* line 1, ../sass/layout/_map.scss */
#map {
  position: fixed;
  right: 0;
  height: 100%;
  width: 100%;
  background: beige;
}
/* line 8, ../sass/layout/_map.scss */
#map .slider {
  position: fixed;
  right: 1.5rem;
  top: 5rem;
  z-index: 500;
}
/* line 13, ../sass/layout/_map.scss */
#map .slider > button {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.5rem;
  border-radius: .313rem;
  border: 2px solid black;
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  display: block;
}
/* line 23, ../sass/layout/_map.scss */
#map .slider > button + button {
  margin-top: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* line 29, ../sass/layout/_map.scss */
#map .slider > button > i {
  color: black;
  font-size: 1rem;
}
/* line 35, ../sass/layout/_map.scss */
.panel-show #map {
  transition-property: width;
  width: -webkit-calc(100% - 400px);
  width: -moz-calc(100% - 400px);
  width: calc(100% - 400px);
}

@media (max-width: 550px) {
  /* line 43, ../sass/layout/_map.scss */
  .panel-show #map {
    transition-property: width;
    width: 50px;
  }
  /* line 46, ../sass/layout/_map.scss */
  .panel-show #map .slider {
    right: -2rem;
  }
  /* line 50, ../sass/layout/_map.scss */
  #map .slider {
    -moz-transition: right 0.15s ease-in-out 0.3s;
    -o-transition: right 0.15s ease-in-out 0.3s;
    -webkit-transition: right 0.15s ease-in-out;
    -webkit-transition-delay: 0.3s;
    transition: right 0.15s ease-in-out 0.3s;
    top: 5rem;
    right: 1rem;
  }
}
/* line 4, ../sass/page/_lodging.scss */
#lodging .info-section content > select {
  width: 80%;
}
/* line 9, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats {
  margin: auto;
  width: 90%;
}
/* line 12, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats .tr-number {
  font-size: 1.25rem;
}
/* line 14, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats .tr-number td {
  font-weight: bold;
}
/* line 18, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats .tr-unit {
  font-size: .8rem;
}
/* line 20, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats .tr-unit td {
  padding: .5rem 0;
}
/* line 24, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats img {
  width: 80%;
}
/* line 27, ../sass/page/_lodging.scss */
#lodging .tbl-lodging-stats td {
  text-align: center;
}

/* line 3, ../sass/page/_summary.scss */
#summary .info-section content {
  display: flex;
  justify-content: space-around;
}
/* line 6, ../sass/page/_summary.scss */
#summary .info-section content .sum-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/* line 11, ../sass/page/_summary.scss */
#summary .info-section content .sum-item img {
  width: 3rem;
  margin: auto;
}
/* line 15, ../sass/page/_summary.scss */
#summary .info-section content .sum-item i {
  font-size: 3rem;
}
/* line 18, ../sass/page/_summary.scss */
#summary .info-section content .sum-item strong {
  padding-top: .25rem;
  font-weight: bold;
}
/* line 22, ../sass/page/_summary.scss */
#summary .info-section content .sum-item span {
  padding-top: .25rem;
}
/* line 29, ../sass/page/_summary.scss */
#summary .info-section:nth-of-type(2) i {
  color: #72cdff;
}
/* line 34, ../sass/page/_summary.scss */
#summary .info-section:nth-of-type(3) i {
  color: #ffbb00;
}
/* line 40, ../sass/page/_summary.scss */
#summary .info-section:nth-of-type(4) i {
  color: #b180b8;
}
/* line 45, ../sass/page/_summary.scss */
#summary .info-section:nth-of-type(5) i {
  color: #8dc778;
}

/* line 14, ../sass/Site.scss */
body {
  font-family: 'Microsoft JhengHei';
  overflow: hidden;
}
