#summary{
    .info-section{
        content{
            display: flex;
            flex-wrap: wrap;
            .sum-loc{
                span{
                    font-size: 1.2rem;
                }
                .selected-vlg{
                    font-weight: bold;
                }
            }
            .sum-item{
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                @include calc("width", "45% - 1rem");
                color: white;
                margin: 1rem;
                padding: 1rem 0;
                @include border-radius(5px 5px);
                img{
                    width: 3rem;
                    margin: auto;
                }
                i{
                    color: white;
                    font-size: 3rem;
                }
                strong {
                    padding-top:.25rem;
                }
                span{
                    padding-top:.25rem;
                }
                &.inactive{
                    background-color: #bebebe;
                }
            }
        }
        
        &:nth-of-type(2){
            .sum-item{
                background-color: rgb(114, 205, 255);
            }
        }
        &:nth-of-type(3){
            .sum-item {
                background-color: rgb(255, 187, 0);
            }
        }
        
        &:nth-of-type(4){
            .sum-item {
                background-color: #b180b8;
            }
        }
        &:nth-of-type(5){
            .sum-item{
                background-color: rgb(141, 199, 120);
            }
        }
    }
}