#transport{
    .tbl-service-count{
        width: 70%;
        margin: auto;
        h1{
            font-size: 3.75rem;
            font-weight: bold;
        }
        img {
            width: 80px;
        }
        tr{
            td{
                text-align: left;
            }
            &:nth-child(4n+3){
                td{
                    padding-top: 2rem;
                }
            }
            &:nth-child(even){
                td{
                    padding-top: .5rem;
                }
            }
            &:nth-child(odd){
                td:nth-child(1){
                    width: 80px;
                    text-align: center;
                    padding-right: 1rem;
                }
            }
        }
    }
    .tbl-no-service-poi{
        margin: auto;
        width: 90%;
        thead th{
            text-align: center;
            color: white;
            background-color: #F79494;
        }
        th, td{
            border-bottom: 1px solid #ccc;
            padding: .5rem;
        }
        tr th:first-child{
            white-space: nowrap;
            text-align: center;
        }
        tbody tr td:nth-child(2){
            width: 6.5rem;
        }
    }
    .dataTables_paginate{
        text-align: center;
        margin-top: .313rem;
        a {
            cursor: pointer;
            + a{
                margin-left: .25rem;
            }
        }
    }

}