<aside id="info-panel">
    @*@Html.Partial("_Lodging")
        @Html.Partial("_Transport")
        @Html.Partial("_Industry")*@
    <div class="Func-panel">

    </div>
    <button id="btn-slide" type="button"></button>
</aside>

<main id="map">
    <div class="slider">
        <button class="btn-zoom-in"><i class="fa fa-plus" aria-hidden="true"></i></button>
        <button class="btn-zoom-out"><i class="fa fa-minus" aria-hidden="true"></i></button>
    </div>
</main>