
@import "_variable.scss";

$font-list: 1.75, 1.5, 1.25, 1.1;
@for $k from 1 through 4 {
    h#{$k}{
        font-size: (nth($font-list, $k)) * 1rem;
    }
    .h#{$k}{
        font-size: (nth($font-list, $k)) * 1rem !important;
    }
}


.display-none{
    display: none;
}

.tooltip{
    opacity: 1;
    display: block;
}

.intro-wrapper{
    position: absolute;
    top: 200px;
    right: 0;
    #btn-about,#btn-system{
        cursor: pointer;
        width: 2.5rem;
        height: 5rem;
        background-color: $orange;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align:center;
        -webkit-writing-mode: vertical-rl;
	    writing-mode: vertical-rl;
        border: 1px solid $orange;
        @include border-radius(3px 0 0 3px);
    }
    .side-button + .side-button{
        margin-top: .5rem;
    }

}

#about, #system{
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.25rem; 
    max-height: 400px;
    h5{
        font-size: 1.25rem;
        font-weight: bold;
        padding: .5rem 0;
    } 
}

%panel-transition{
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}