
button:focus{
    outline: 0;
}

header:focus{
    outline: 0;
}

select{
    padding: .313rem .5rem;
    @include border-radius(3px);
}


button{
    cursor: pointer;
    &.btn-blue{
        @extend %button;
        background-color: $blue;
        color: white;
        border-color: $blue;
    }
    &.btn-blue-inverse{
        @extend %button;
        background-color: white;
        color: $blue;
        border-color: $blue;
    }
}

%button{
    padding: .5rem 2rem;
    border-width: 2px;
    @include border-radius(5px 5px);
}
